body {
    text-align: center;
}
.base {
    width: 300px;
    height: 150px;
    background: linear-gradient(135deg, #0b0235, #0f224b);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: green;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px;   
    align-items: center;
}
